[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
bs4 = "*"
internetarchive = "*"
requests = "*"
pandas = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.9"
